.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 20vw;
  border-radius: 12px;
  background-color: var(--green-opacity);
  box-shadow: 12px 12px 13px -4px rgba(0, 0, 0, 0.39);
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 130px;
  padding: 50px;
  overflow-wrap: break-word;
  color: white;

  & .title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-right: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  & #icon {
    font-size: 1.2rem;
    margin-top: 11px;
    color: white;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  & #icon:hover {
    opacity: 1;
  }
}

.list-container {
  width: 100%;
  color: white;
  padding: 15px;

  & .list {
    min-width: 20vw;
    padding-bottom: 35px;
    word-break: break-word;
  }

  & .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 11px;
    font-size: 20px;
    border-radius: 11px;
    background-color: var(--green-li);
  }

  & #io-del,
  #io-up {
    width: 25px;
    font-size: 1.2rem;
    color: white;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  & #io-del:hover {
    color: red;
    opacity: 1.1;
  }

  & #io-up {
    font-size: 1.1rem;
    padding-bottom: 2.8px;
    margin: 0 6px 0 9px;
  }

  & #io-up:hover {
    color: yellow;
    opacity: 1.1;
  }
}

@media screen and (max-width: 310px) {
  #icon {
    font-size: 2rem !important;
  }
}
