* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    var(--green-main) 0%,
    rgba(0, 16, 13, 0.8) 100%
  );
}

:root {
  --green-main: #3f9481;
  --green-li: #0f231f;
  --green-opacity: rgba(15, 35, 31, 0.6);
}
